@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 901px) {
  .desktopLinksAndLogo{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15vh;

    .button:nth-child(2){
      animation: slideInFromTop 1s ease 0.2s backwards;
    }

    .button:nth-child(3){
      animation: slideInFromTop 1s ease 0.4s backwards;
    }

    .button:nth-child(4){
      animation: slideInFromTop 1s ease 0.6s backwards;
    }

    .homeLogo{
      margin-right: 20px;
      color: #fff;
      font-size: 46px;
      text-decoration: none;
      transition: 0.5s;
      animation: slideInFromTop 1s ease 0s backwards;
    }

    .homeLogo:hover{
      text-shadow: 0px 0px 13px #a1fff9;
      color: #a1fff9;
    }

    .button {
      margin: 0;
      height: auto;
      background: transparent;
      padding: 0;
      border: none;
    }

    .button {
      --border-right: 6px;
      --text-stroke-color: rgba(255,255,255,0.6);
      --animation-color: #a1fff9;
      --fs-size: 2em;
      margin: 0 14px;
      letter-spacing: 3px;
      text-decoration: none;
      font-size: 22px;
      position: relative;
      text-transform: capitalize;
      color: var(--text-stroke-color);
    }

    .actual-text{
      transition: 0.5s;
    }

    .button:hover .actual-text {
      filter: drop-shadow(0 0 23px var(--animation-color))
    }

    .hover-text {
      position: absolute;
      box-sizing: border-box;
      content: attr(data-text);
      color: var(--animation-color);
      width: 0%;
      inset: 0;
      border-right: var(--border-right) solid var(--animation-color);
      overflow: hidden;
      transition: 0.5s;
      border-radius: 2px;
    }

    .button:hover .hover-text {
      width: 100%;
    }
  }
}
