@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media screen and (min-width: 901px) {
  .settings{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    overflow: hidden;
    padding-right: 15vh;

    .languageSelector{
      display: flex;
      align-items: center;
      margin: 0 0 0 10px;
      animation: slideInFromRight 1.5s ease 0.4s backwards;

      div{
        text-transform: uppercase;
        border-right: 2px solid #a1fff9;
        border-left: 1px solid #a1fff9;
        padding: 7px;
        font-size: 20px;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.5s;
      }

      div:first-of-type{
        text-transform: uppercase;
        border-left: 2px solid #a1fff9;
        border-right: 1px solid #a1fff9;
        padding: 7px;
        font-size: 20px;
      }

      div:hover{
        text-shadow: 0px 0px 13px #a1fff9;
        color: #a1fff9;
      }
    }

    .contactLink{
      text-decoration: none;

      .contactButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 190px;
        border-radius: 30px;
        border: 3px solid #a1fff9;
        transition: 1s;
        font-size: 24px;
        text-transform: capitalize;
        color: #fff;
        font-weight: bold;
        margin-right: 20px;
        animation: slideInFromRight 1.5s ease 0.2s backwards;
      }

      .contactButton:hover{
        background: #a1fff9;
        color: #020a13;
      }
    }

    .darkLightSwitcher{
      margin-left: 20px;
      font-size: 36px;
      transition: 0.5s;
      animation: slideInFromRight 1.5s ease 0.6s backwards;
      cursor: pointer;
    }

    .darkLightSwitcher:hover{
      text-shadow: 0 0 13px #a1fff9;
      color: #a1fff9;
    }
  }
}